body{
    margin:  0px;
    padding: 0px;
    color: #eeeeec;
    background-color: #000000;
}

h1, h2, h3, h4, h5, h6{
    font-family: serif;
}

#wrapper{
}

#header h1{
    margin: 0px;
}

#canvas{
    float: left;
    width: 50%;
    margin-left: 25%;
    color: #000000;
    background-color: #eeeeec;
}

#leftside{
    margin-left: -75%;
}

.sidebar{
    float: left;
    width: 25%;
    color: #000000;
    background-color: #eeeeec;
}

#footer{
    clear: both;
    color: #000000;
    background-color: #eeeeec;
}
